In [1]:
#11.1
import zoo

zoo.hours()

Open 9-5 daily

In [2]:
#11.2
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [3]:
#16.1 Saving text lines to a file called books.csv
lines = [
    "author,book",
    "J R R Tolkien,The Hobbit",
    'Lynne Truss,"Eats, Shoots & Leaves"'
]

with open('books.csv', 'w') as file:
    file.write('\n'.join(lines))

In [4]:
#16.2 Reading books.csv using the csv module's DictReader
import csv

with open('books.csv', 'r') as file:
    reader = csv.DictReader(file)
    books = list(reader)

for book in books:
    print(book)

{'author': 'J R R Tolkien', 'book': 'The Hobbit'}
{'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}

In [5]:
#16.3 Creating a CSV file called books2.csv
lines = [
    "title,author,year",
    "The Weirdstone of Brisingamen,Alan Garner,1960",
    "Perdido Street Station,China Miéville,2000",
    "Thud!,Terry Pratchett,2005",
    "The Spellman Files,Lisa Lutz,2007",
    "Small Gods,Terry Pratchett,1992"
]

with open('books2.csv', 'w') as file:
    file.write('\n'.join(lines))

In [6]:
#16.4 Creating a SQLite database and a table using sqlite3
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()

curs.execute('''
    CREATE TABLE books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

conn.commit()
conn.close()

In [7]:
#16.5 Reading books2.csv and inserting its data into the book table
import csv
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()

with open('books2.csv', 'r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        curs.execute('''
            INSERT INTO books (title, author, year)
            VALUES (?, ?, ?)
        ''', (row['title'], row['author'], row['year']))

conn.commit()
conn.close()

In [8]:
#16.6 Selecting and printing the title column from the book table in alphabetical order
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()

curs.execute('SELECT title FROM books ORDER BY title')

for row in curs.fetchall():
    print(row[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [9]:
#16.7 Selecting and printing all columns from the book table in order of publication
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()

curs.execute('SELECT * FROM books ORDER BY year')

for row in curs.fetchall():
    print(row)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [10]:
#16.8 Connecting to the SQLite database using sqlalchemy and selecting the title column in alphabetical order
from sqlalchemy import create_engine, select
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class Book(Base):
    __tablename__ = 'books'
    id = Column(Integer, primary_key=True)
    title = Column(String)
    author = Column(String)
    year = Column(Integer)

engine = create_engine('sqlite:///books.db')
Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()

query = select(Book.title).order_by(Book.title)
result = session.execute(query)

for row in result:
    print(row[0])

session.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!